.app{
  
  
  margin-bottom: 3px;
  
 
}

.label{
  margin-bottom: 20px;
  width: 360px;
  height: 160px;
  border: solid 2px black;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 70px ;
  padding-right: 4px;
 

}

.table{
  margin-left: 5px;
}

.bAC{
  border-radius: 50%;
  margin-left: 5px;
  background-color:#8490FF;
  color: white;
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-right: 7px;
  font-weight: bold;
}

.bpm,.bmod,.bdiv,.seven,.eight,.nine,.mult,.one,.two,.three,.plus,.four,.five,.six,.minus,.dot,.equal{
  border-radius: 50%;
  margin-left: 5px;
  background-color:#8490FF;
  color: white;
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-right: 7px;
  font-weight: bolder;
  
}

.zero{
  border-radius: 50px;
  margin-left: 6px;
  background-color:#8490FF;
  color: white;
  width: 170px;
  height: 80px;
  font-size: 30px;
  padding-right: 7px;
  font-weight: bolder;
  margin-bottom: 7px;

  
}
.zero,.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.dot{
 background-color:  #212638;;
}
.bdiv,.mult,.plus,.minus,.equal{
  background-color: #34509E;;
}